.info {
    display: flex;
    justify-content: space-around;
    margin-top: 15rem;
    section {
        display: flex;
        .chai12 {
            z-index: 2;
            height: 22rem;
            border-radius: 1.4rem;
            transform: translateX(4rem) translateY(-4.2rem);
        }
        .chai11 {
            z-index: 1;
            height: 20rem;
            border-radius: 1.4rem;
            transform: translateX(-1rem);
        }
    }
    article {
        .chai-info {
            font-size: 2.2rem;
        }
    }
    
}


