.info {
    display: flex;
    justify-content: space-evenly;
    margin: 15rem;
    place-items: center;
    section {
        display: flex;
        transform: translateX(8rem);
        .chai12 {
            z-index: 2;
            height: 22rem;
            border-radius: 1.4rem;
            transform: translateX(3.5rem) translateY(-4.2rem) rotate(-8deg);
        }
        .chai11 {
            z-index: 1;
            height: 20rem;
            border-radius: 1.4rem;
            transform: translateX(-1rem);
        }
        .freshchai {
            z-index: 3;
            height: 20rem;
            border-radius: 1.4rem;
            transform: translateX(-35rem) translateY(14rem) rotate(4deg);
        }
    }
    article {
        display: flex;
        place-items: center;
        .chai-info {
            width: 42vw;
            transform: translateX(-10rem);
            font-size: 2.8rem;
            word-break: break-word;
        }
    }
    
}


