.navbar {
  // position: fixed;
  // left: 1rem;
  // right: 1rem;
  // top: 0.5rem;
  width: 98vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.3rem;
  margin: .6rem auto;
  border: 1px solid #967259;
  border-radius: .6rem;
  .searchbar {
    display: flex;
    .input {
      background-color: #73543d3d;
      border: none;
      border-top-left-radius: .6rem;
      border-bottom-left-radius: .6rem;
      padding: .5rem;
      font-size: 1.4rem;
      color: whitesmoke;
    }
    ::-webkit-input-placeholder {
      color: rgba(245, 245, 245, 0.85);
    }
    .searchbutton {
      padding: 1rem;
      background-color: rgba(255, 255, 255, 0.846);
      color: #73543dd0;
      border-top-right-radius: .6rem;
      border-bottom-right-radius: .6rem;
      border: none;
    }
  }
  .nav-links {
    margin: 2rem;
    display: flex;
    a {
      padding: 0.5rem;
      text-decoration: none;
      color: white;
    }
    a:hover {
      padding: 0.5rem;
      background-color: #dbc1ac;
      color: brown;
    }
    .shoppingcart {
      margin-left: 1rem;
      height: 2rem;
    }
  }
}
