.loading {
  height: 50rem;
  width: 90vw;
  font-size: 10rem;
  margin: 50rem 0;
}

.coffee-section {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0.8rem;
  justify-content: center;
}

.coffee-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  border: 1px solid whitesmoke;
  width: 30rem;
  margin: 0.4rem;
  border-radius: 1.8rem;
  // background: linear-gradient(to bottom left, rgba(255,0,0,0) 50%, #FFC26F 50%);
  .coffee-image {
    display: flex;
    flex-direction: column;
    place-items: center;
    img {
      height: 17rem;
    }
    .coffee-name {
      font-size: 1.6rem;
      font-family: openSans-M;
      text-shadow: 1px 1px 2px #000;
    }
  }
  .coffee-info {
    display: flex;
    place-items: center;
    justify-content: space-between;
    .coffee-price {
      background-color: black;
      padding: 1rem;
      width: 10rem;
      border-radius: 1rem;
    }
    .coffee-to-cart {
      padding: 1rem;
      background-color: orange;
      border-radius: 1.2rem;
      margin: 1rem;
    }
    .coffee-to-cart:hover {
      background-color: #f4c430;
      color: darkslategrey;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 390px) {
  .loading {
    height: 50rem;
    width: 95vw;
    font-size: 2rem;
    margin: 20rem 0;
  }
  .coffee-container {
    width: 23rem;
  }
}

@media only screen and (min-width: 500px) and (max-width: 1025px) {
  .loading {
    height: 50rem;
    width: 97vw;
    font-size: 4rem;
    margin: 40rem 0;
  }
  .coffee-container {
    width: 28rem; 
  }
}