.footer {
  display: flex;
  justify-content: center;
  background-color: #FFC26F;
  border-top-left-radius: 0.9rem;
  border-top-right-radius: 0.9rem;
  .footerDiv {
    display: flex;
    flex-direction: column;
    padding: 2.9rem;
    .footerHeader {
      display: flex;
      place-items: center;
      font-size: 1.4rem;
      color: #000;
    }
    .footerLinks {
      text-align: left;
      padding-top: 2rem;
      text-decoration: none;
      color: black;
      font-weight: 500;
    }
  }
}

@media only screen and (max-width: 1050px) {
  .footerHeader {
    width: max-content;
  }
}

@media only screen and (max-width: 890px) {
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 3rem;
    .footerDiv {
      flex-wrap: wrap;
      justify-content: center;
      padding: 2.35rem;
      place-items: center;
    }
  }
}
