.info {
  display: flex;
  justify-content: space-between;
  margin: 22rem 0;
  place-items: center;
  height: 30vh;
  max-width: 100vw;
  background-color: #96725939;
  section {
    display: flex;
    max-width: 100vw;
    transform: translateX(9rem);
    .chai12 {
      z-index: 2;
      height: 18rem;
      border-radius: 1.4rem;
      transform: translateX(-2rem) translateY(-5.4rem) rotate(-8deg);
    }
    .chai11 {
      z-index: 1;
      height: 15rem;
      border-radius: 1.4rem;
      transform: translateX(-5rem);
    }
    .freshchai {
      z-index: 3;
      height: 17rem;
      border-radius: 1.4rem;
      transform: translateX(-33rem) translateY(10rem) rotate(4deg);
    }
  }
  article {
    display: flex;
    transform: translateX(-4rem);
    height: 20vh;
    .chai-info {
      font-size: 2rem;
      text-align: left;
      word-break: break-word;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .info {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    place-items: center;
    height: 40rem;
    max-width: 100vw;
    background-color: #96725939;
    margin: 25rem 0;
    section {
      display: flex;
      max-width: 100vw;
      transform: translateX(9rem);
      .chai12 {
        z-index: 2;
        height: 18rem;
        border-radius: 1.4rem;
        transform: translateX(-2rem) translateY(-5.4rem) rotate(-8deg);
      }
      .chai11 {
        z-index: 1;
        height: 15rem;
        border-radius: 1.4rem;
        transform: translateX(-5rem);
      }
      .freshchai {
        z-index: 3;
        height: 17rem;
        border-radius: 1.4rem;
        transform: translateX(-33rem) translateY(10rem) rotate(4deg);
      }
    }
    article {
      display: flex;
      transform: translateX(-4rem);
      height: 20vh;
      .chai-info {
        font-size: 2rem;
        text-align: left;
        word-break: break-word;
      }
    }
  }
}

@media only screen and (max-width: 890px) {
  .info {
    flex-direction: column;
    justify-content: flex-start;
    background-color: transparent;
    margin: 12rem 0 15rem 0;
    section {
      flex-direction: column;
      place-items: center;
      transform: translateX(0);
      .chai12 {
        height: 15rem;
        transform: translateX(-8rem) translateY(3rem) rotate(10deg);
      }
      .chai11 {
        height: 10rem;
        transform: translateY(-11rem) translateX(5rem) rotate(-5deg);
      }
      .freshchai {
        height: 15rem;
        transform: translateX(0) translateY(-14rem) rotate(0);
      }
    }
    article {
      display: flex;
      transform: translateX(0) translateY(-10rem);
      height: 0;
      .chai-info {
        font-size: 2rem;
        text-align: center;
        word-break: break-word;
      }
    }
  }
}
