.navbar {
  width: 95vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin: 0 auto;
  border: 1px solid #dbd6d2d0;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  .chai-nav {
    color: whitesmoke;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .logo-fixed {
    z-index: 4;
    position: fixed;
    a {
      text-decoration: none;
      color: whitesmoke;
    }
  }
  .searchbar {
    display: flex;
    .input {
      background-color: #73543d3d;
      border: none;
      border-top-left-radius: 0.6rem;
      border-bottom-left-radius: 0.6rem;
      padding: 0.5rem;
      font-size: 1.4rem;
      color: whitesmoke;
    }
    ::-webkit-input-placeholder {
      color: rgba(245, 245, 245, 0.85);
    }
    .searchbutton {
      padding: 1rem;
      background-color: #73543dd0;
      color: whitesmoke;
      border-top-right-radius: 0.6rem;
      border-bottom-right-radius: 0.6rem;
      border: none;
    }
  }
  .nav-links {
    margin: 2rem;
    display: flex;
    place-items: center;
    a {
      padding: 0.5rem;
      text-decoration: none;
      color: white;
    }
    a:hover {
      padding: 0.5rem;
      background-color: #dbc1ac;
      color: brown;
      border-radius: 0.5rem;
    }
    .shoppingcart {
      margin-left: 1rem;
      height: 1.7rem;
    }
  }
}

.mobile-nav {
  display: none;
}

@media only screen and (min-width: 511px) and (max-width: 870px) {
  .navbar {
    width: 96vw;
    padding: 0.2rem 2.3rem;
    justify-content: center;
    border: none;
    .chai-nav {
      color: whitesmoke;
    }
    .logo-fixed {
      top: 0.3rem;
      position: fixed;
      // transform: translateX(-11rem);
    }
    .searchbar {
      display: none;
    }
    .nav-links {
      display: none;
    }
  }
  .mobile-nav {
    position: fixed;
    z-index: 3;
    width: 98.2vw;
    display: flex;
    padding: 1.3rem;
    background-color: #925b30;
    justify-content: space-around;
    bottom: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    img {
      height: 2rem;
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: 510px) {
  .navbar {
    width: 96vw;
    padding: 0.2rem 2.3rem;
    justify-content: center;
    border: none;
    .chai-nav {
      color: whitesmoke;
    }
    .logo-fixed {
      top: 0.3rem;
      position: fixed;
      // transform: translateX(-11rem);
    }
    .searchbar {
      display: none;
    }
    .nav-links {
      display: none;
    }
  }
  .mobile-nav {
    position: fixed;
    z-index: 3;
    width: 97vw;
    display: flex;
    padding: 1.3rem;
    background-color: #925b30;
    justify-content: space-around;
    bottom: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    img {
      height: 2rem;
    }
  }
}

@media only screen and (max-width: 390px) {
  .navbar {
    width: 96vw;
    padding: 0.2rem 2.3rem;
    justify-content: center;
    border: none;
    .chai-nav {
      color: whitesmoke;
    }
    .logo-fixed {
      top: 0.3rem;
      position: fixed;
      // transform: translateX(-11rem);
    }
    .searchbar {
      display: none;
    }
    .nav-links {
      display: none;
    }
  }
  .mobile-nav {
    position: fixed;
    z-index: 3;
    width: 100vw;
    display: flex;
    padding: 1.3rem;
    background-color: #925b30;
    justify-content: space-around;
    bottom: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    img {
      height: 2rem;
    }
  }
}
