.footerlogo {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    margin-top: 3rem;
    h1 {
        font-size: 2.4rem;
        text-align: right;
        color: rgb(170, 103, 37);
    }
    p {
        font-size: 1.2rem;
        color: black;
    }
    .author {
        text-align: right;
        
    }
    article {
        margin-top: 3rem;
        p {
            text-align: right;
        }
    }
    .payments {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 1.2rem;
    }
}

@media only screen and (max-width: 890px) {
    .footerlogo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 7rem;
        margin-left: 0;
        h1 {
            font-size: 2.4rem;
            color: rgb(170, 103, 37);
        }
        
        p {
            font-size: 1.2rem;
            color: black;
        }
        .author {
            text-align: center;
        }
        article {
            p {
                text-align: center;
            }
        }
    }
  }
  