.footer {
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  border-top-left-radius: 0.9rem;
  border-top-right-radius: 0.9rem;
  .footerDiv {
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: left;
    padding: 3rem;
    .footerHeader {
      font-size: 1.4rem;
      color: #85522cd0;
    }
    a {
      padding-top: 2rem;
      text-decoration: none;
      color: black;
      font-weight: 500;
    }
  }
}

@media only screen and (max-width: 890px) {
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 3rem;
    .footerDiv {
      flex-wrap: wrap;
      justify-content: center;
      padding: 2.35rem;
    }
  }
}
