.HomeData {
  margin: 4rem auto;
  scroll-behavior: smooth;
  .image-container {
    display: flex;
    justify-content: center;
    place-items: center;
  }
  .text-container {
    display: flex;
    flex-direction: column;
  }
  .chai {
    z-index: 1;
    color: #fff;
    font-size: 15rem;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .slogan {
    font-size: 3rem;
    margin-top: -4rem;
  }
  .chai-latte {
    z-index: 0;
    height: 30rem;
    margin-left: -4rem;
    animation: mover 1.4s infinite alternate;
    transform: rotate(-2deg);
  }
  @keyframes mover {
    0% {
      transform: translateY(-4rem) rotate();
    }
    100% {
      transform: translateY(-0.1rem);
    }
  }
}

@media only screen and (max-width: 890px) {
  .HomeData {
    margin: 30vh 0;
    .image-container {
      height: 20vh;
      flex-direction: column;
      transform: translateX(0);
    }
    .chai {
      font-size: 5rem;
      margin: 0 auto;
    }
    .slogan {
      font-size: 1.4rem;
      margin-top: -1.4rem;
    }
    .chai-latte {
      position: absolute;
      z-index: -1;
      height: 27rem;
      margin-left: -10rem;
      animation: none;
      transform: rotate(2deg) translateX(10rem);
    }
  }
}
